[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
drf-yasg = "*"
pillow = "*"
django-filter = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
